.fitems {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 40px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.fitems:hover {
    background-color: aqua;
    color: black;
    transform: scale(1.1);
}

.fcontainer {
    display: flex;
    background-color: blueviolet;
}
